@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
  font-family: 'DM Sans', sans-serif;
}

section#hero {
  background: url(./../public/assets/images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section#hero #overlay {
  background: #00000065;

}

section#authLayout {
  background: url(./../public/assets/images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

section#authLayout #overlay {
  background: #00000065;

}